.slider_section .detail-box h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #002c3e;
    line-height: 47px;
}

.header_section {
    padding: 0;
}

img.header-logo {
    width: 163px;
    height: 46px;
}

@media (min-width: 1200px) {
    .main-container {
        max-width: 1170px;
        margin: 33px;
    }
}

.row .text1 {
    text-align: center !important;
    font-weight: bold;
    font-style: normal;
    font-size: x-large;
}

.text-bg-color {
    padding: 21px;
    background-color: #44d6f7;
}

.our-mission {
    justify-content: center;
    margin: 25px;
    color: #44d6f7;
    font-weight: bold;
}

img.sub-img {
    width: 564px;
    height: 340px;
}

.icon {
    color: #44d6f7;
}

.hero_area2 {
    position: relative;
    /* min-height: 100vh; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.food-details-heading {
    font-size: xx-large;
    font-weight: 400;
}

.food-detail-container {
    margin: 36px;
}

.food-detail-btn {
    color: #ffff;
    background-color: #44d6f7;
    border-radius: 4px;
    border-color: #44d6f7;
    margin: 12px 6px 12px 0px;
    padding: 7px 12px 7px 12px;
}

.col-md-3.border {
    padding: 10px;
}
.btn-indigo {
    color: #fff;
    background-color: #3f51b5 !important;
}
.btn:hover {
    color: #fff;
    text-decoration: none;
}


.btn {
    margin: 0.375rem;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    border: 0;
    border-radius: 0.125rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    padding: 0.84rem 2.14rem;
    font-size: .81rem;
}
.waves-effect {
    position: relative;
    overflow: hidden;
   
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
p.slider-msg {
    color: #ffff;
    font-style: initial;
}
.error{
    color: #e10b0b;
}
.bolder-txt {
    font-size: 45px;
    font-weight: 800;
}
.text-center {
    margin-top: 11px;
    text-align: center!important;
}
.bg-purple {
    background: #2d2c5c;
}
.text-light {
    color: #f8f9fa!important;
}

.mission-cards {
    min-height: 400px;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 576px){
    .container, .container-sm {
        max-width: 540px;
    }
    
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.color-purple {
    /* color: #563f4f; */
    color: #2d2c5c;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.mission-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 40px;
}
.food_not_available{
    font-size: 92px;
    font-style: oblique;
    border: bolk;
    font-weight: 700; 
    margin-bottom: 209px;

}


